---
layout: default
---
<div class="filters">
  <p>Choose any of the following subcategories to find <strong>all</strong> resources within any category:</p>
  <button type="button" id="legal" class="btn-category btn btn-labeled btn-default" data-toggle="button"><span class="btn-label"></span>Legal</button>
  <button type="button" id="medical" class="btn-category btn btn-labeled btn-default" data-toggle="button"><span class="btn-label"></span>Medical</button>
  <button type="button" id="housing" class="btn-category btn btn-labeled btn-default" data-toggle="button"><span class="btn-label"></span>Housing</button>
  <button type="button" id="food" class="btn-category btn btn-labeled btn-default" data-toggle="button"><span class="btn-label"></span>Food</button>
  <button type="button" id="hygiene" class="btn-category btn btn-labeled btn-default" data-toggle="button"><span class="btn-label"></span>Hygiene</button>
  <button type="button" id="computers-internet-access" class="btn-category btn btn-labeled btn-default" data-toggle="button"><span class="btn-label"></span>Computers & Internet Access</button>
  <button type="button" id="job-help" class="btn-category btn btn-labeled btn-default" data-toggle="button"><span class="btn-label"></span>Job Help</button>
  <button type="button" id="education" class="btn-category btn btn-labeled btn-default" data-toggle="button"><span class="btn-label"></span>Education</button>
  <button type="button" id="community-support" class="btn-category btn btn-labeled btn-default" data-toggle="button"><span class="btn-label"></span>Community Support</button>
  <button type="button" id="counseling" class="btn-category btn btn-labeled btn-default" data-toggle="button"><span class="btn-label"></span>Counseling</button>
  <button type="button" id="mail" class="btn-category btn btn-labeled btn-default" data-toggle="button"><span class="btn-label"></span>Mail</button>
  <button type="button" id="entertainment-and-sports" class="btn-category btn btn-labeled btn-default" data-toggle="button"><span class="btn-label"></span>Entertainment & Sports</button>

  <p><br>Choose any of the following to show <strong>only</strong> those resources with the following considerations:</p>
  <button type="button" id="confidential" class="btn-filter btn btn-labeled btn-default" data-toggle="button"><span class="btn-label"></span>Confidential</button>
  <button type="button" id="free" class="btn-filter btn btn-labeled btn-default" data-toggle="button"><span class="btn-label"></span>Free</button>
  <button type="button" id="translation" class="btn-filter btn btn-labeled btn-default" data-toggle="button"><span class="btn-label"></span>Language Translation Available</button>
</div>

<div class="catalog">

  {% for resource in site.seattle %}
    <div class="resource{% for category in resource.categories %} {{ category | downcase | replace: ' ', '-' }}{% endfor %}">
      <header class="resource-header">
        <h2 class="resource-name">{{ resource.name }}</h2>
      </header>

      <article class="resource-content">
        {{ resource.content }}
      </article>
    </div>
  {% endfor %}

</div>
